.input-container {
    width: 100%;
  }
  
  .input-with-adornment {
    display: flex;
  }
  
  .input {
    width: 100%;
  }
  
  .adornment {
    padding-right: 0.5rem;
    background-color: #f3f4f6; /* Change this to match your input background color */
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    z-index: 1;
  }
  